.ff-button {
  &,
  & a {
    text-transform: uppercase;
    border-radius: 2px;
    font-size: .7rem;
    padding: .5em 1.9em;
    outline: none;
    
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.ff-button-gray {
  &,
  & a {
    color: $ff-gray;
    border-color: $ff-gray-light;

    &:hover * {
      color: $white;
    }
  }
}